services:
  database:
    build: ./database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${EXPOSE_DB_PORT:-}"
    networks:
      - internal-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  web:
    build:
      context: ./nextjs-app
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "3000:3000"
    networks:
      - internal-network
    restart: unless-stopped

volumes:
  postgres_data:

networks: 
  internal-network:
    driver: bridge