services:
  database:
    build: ./database
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - internal-network
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  web:
    build:
      context: ./nextjs-app
      dockerfile: Dockerfile
    depends_on:
      - database
    ports:
      - "3000:3000"
    networks:
      - internal-network
      - external-bridge 
    restart: unless-stopped

  # cloudflared:
  #   image: cloudflare/cloudflared:latest
  #   environment:
  #     - TUNNEL_TOKEN=${TUNNEL_TOKEN}
  #   depends_on:
  #     - web
  #   command: tunnel run
  #   networks:
  #     - external-bridge
  #   restart: unless-stopped

  volumes:
    postgres_data:

  networks: 
    internal-network:
      external: false
    external-bridge:
      external: true