@tailwind base;
@tailwind components;
@tailwind utilities;

/* light mode */
body { 
  background-color: #ffffff;   /* bg-gray-800 */
  color: #000000;         /* text-white */
}

/* dark mode */
.dark body { 
  background-color: #000000;   /* bg-gray-800 */
  color: #ffffff;         /* text-white */
}